<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_FOR_PRODUCTION</key>
	<string>0</string>
	<key>APP_KEY</key>
	<string>7709726757a24a6bf51ea7e5</string>
	<key>CHANNEL</key>
	<string>iOS Publish channel</string>
</dict>
</plist>
